<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694994435341-6vfg6u3te851c86dfrne14758i44a2h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694994435341-6vfg6u3te851c86dfrne14758i44a2h5</string>
	<key>API_KEY</key>
	<string>AIzaSyBMhGzix-uFkItknlfAEMQSI1bEU7LTQhg</string>
	<key>GCM_SENDER_ID</key>
	<string>694994435341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nerolab.varxcore</string>
	<key>PROJECT_ID</key>
	<string>flutter-tdd-84713</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tdd-84713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694994435341:ios:ae2ab2739e84cea2970444</string>
</dict>
</plist>